@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<main>
    <section class="jumbotron">
        <div class="container">
            <h1>Welcome to Himalaya Everest Insurance </h1>
            <p>Providing reliable insurance solutions for a secure future</p>
            <a class="btn btn-primary" href="#">Get a Quote</a>
        </div>
    </section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <div class="card  card bg-light bg-info">
                    <div class="card-body">
                        <h2>About Us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium dui ut ultrices faucibus. Nulla maximus purus id lorem luctus, eu viverra eros consectetur. Etiam auctor lacus in vehicula dapibus.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card bg-light bg-info">
                    <div class="card-body">
                        <h2>Our Services</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium dui ut ultrices faucibus. Nulla maximus purus id lorem luctus, eu viverra eros consectetur. Etiam auctor lacus in vehicula dapibus.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card bg-light bg-info">
                    <div class="card-body">
                        <h2>Contact Us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium dui ut ultrices faucibus. Nulla maximus purus id lorem luctus, eu viverra eros consectetur. Etiam auctor lacus in vehicula dapibus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
